# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
venv*/
.env/

# ======================
# Training Artifacts
# ======================
models/
cache/
results/
runs/
*.keras
*.h5
*.ckpt
*.pb

# TensorBoard
logs/
events.out.tfevents.*

# ======================
# Dataset
# ======================
data/
dataset*/
*.jpg
*.jpeg
*.png
*.webp
*.bmp

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Misc
# ======================
*.db
*.log
